[submodule "ace-window"]
        path = lib/ace-window
        url = https://github.com/abo-abo/ace-window
[submodule "aio"]
        path = lib/aio
        url = https://github.com/skeeto/emacs-aio
[submodule "all-the-icons"]
        path = lib/all-the-icons
        url = https://github.com/domtronn/all-the-icons.el
[submodule "all-the-icons-completion"]
        path = lib/all-the-icons-completion
        url = https://github.com/iyefrat/all-the-icons-completion
[submodule "auctex"]
        path = lib/auctex
        url = https://git.savannah.gnu.org/git/auctex.git
        load-path = .
        build-step = ./autogen.sh
        build-step = ./configure --with-lispdir=~/.emacs.d/lib/auctex
        build-step = make
        build-step = make doc
        build-step = borg-maketex
        build-step = borg-makeinfo
        build-step = borg-update-autoloads
[submodule "auto-compile"]
        path = lib/auto-compile
        url = https://github.com/emacscollective/auto-compile
[submodule "avy"]
        path = lib/avy
        url = https://github.com/abo-abo/avy
[submodule "borg"]
        path = lib/borg
        url = git@github.com:emacscollective/borg.git
[submodule "buttercup"]
        path = lib/buttercup
        url = https://github.com/jorgenschaefer/emacs-buttercup
[submodule "cape"]
        path = lib/cape
        url = https://github.com/minad/cape
[submodule "capf-autosuggest"]
        path = lib/capf-autosuggest
        url = https://repo.or.cz/emacs-capf-autosuggest.git
[submodule "cdlatex"]
        path = lib/cdlatex
        url = https://github.com/cdominik/cdlatex
[submodule "cider"]
        path = lib/cider
        url = https://github.com/clojure-emacs/cider
[submodule "clojure-mode"]
        path = lib/clojure-mode
        url = https://github.com/clojure-emacs/clojure-mode
[submodule "closql"]
        path = lib/closql
        url = git@github.com:emacscollective/closql.git
[submodule "combobulate"]
        path = lib/combobulate
        url = https://github.com/mickeynp/combobulate
[submodule "compat"]
        path = lib/compat
        url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
        path = lib/consult
        url = https://github.com/minad/consult
[submodule "consult-dir"]
        path = lib/consult-dir
        url = https://github.com/karthink/consult-dir
[submodule "corfu"]
        path = lib/corfu
        url = https://github.com/minad/corfu
        load-path = .
        load-path = extensions
[submodule "dash"]
        path = lib/dash
        url = https://github.com/magnars/dash.el
[submodule "deferred"]
        path = lib/deferred
        url = https://github.com/kiwanami/emacs-deferred
[submodule "djvu"]
        path = lib/djvu
        url = git@github.com:emacsmirror/djvu.git
[submodule "docker"]
        path = lib/docker
        url = https://github.com/Silex/docker.el
[submodule "dune"]
        path = lib/dune
        url = git@github.com:emacsmirror/dune.git
[submodule "eat"]
        path = lib/eat
        url = https://codeberg.org/akib/emacs-eat.git
[submodule "elfeed"]
        path = lib/elfeed
        url = https://github.com/skeeto/elfeed
[submodule "elisp-refs"]
        path = lib/elisp-refs
        url = https://github.com/Wilfred/elisp-refs
[submodule "emacsql"]
        path = lib/emacsql
        url = git@github.com:skeeto/emacsql.git
        no-byte-compile = emacsql-pg.el
[submodule "embark"]
        path = lib/embark
        url = https://github.com/oantolin/embark
[submodule "epkg"]
        path = lib/epkg
        url = git@github.com:emacscollective/epkg.git
[submodule "esxml"]
        path = lib/esxml
        url = https://github.com/tali713/esxml
[submodule "f"]
        path = lib/f
        url = https://github.com/rejeep/f.el
[submodule "flycheck"]
        path = lib/flycheck
        url = https://github.com/flycheck/flycheck
[submodule "flycheck-ocaml"]
        path = lib/flycheck-ocaml
        url = https://github.com/flycheck/flycheck-ocaml
[submodule "geiser"]
        path = lib/geiser
        url = https://gitlab.com/emacs-geiser/geiser
[submodule "geiser-mit"]
        path = lib/geiser-mit
        url = https://gitlab.com/emacs-geiser/mit
[submodule "geiser-racket"]
        path = lib/geiser-racket
        url = https://gitlab.com/emacs-geiser/racket
[submodule "gnuplot"]
        path = lib/gnuplot
        url = https://github.com/emacs-gnuplot/gnuplot
[submodule "gnuplot-mode"]
        path = lib/gnuplot-mode
        url = https://github.com/mkmcc/gnuplot-mode
[submodule "gptel"]
        path = lib/gptel
        url = https://github.com/karthink/gptel
[submodule "haskell-mode"]
        path = lib/haskell-mode
        url = https://github.com/haskell/haskell-mode
[submodule "helpful"]
        path = lib/helpful
        url = https://github.com/Wilfred/helpful
[submodule "ht"]
        path = lib/ht
        url = https://github.com/Wilfred/ht.el
[submodule "hydra"]
        path = lib/hydra
        url = https://github.com/abo-abo/hydra
[submodule "hyperbole"]
        path = lib/hyperbole
        url = git@github.com:emacsmirror/hyperbole.git
[submodule "inf-ruby"]
        path = lib/inf-ruby
        url = https://github.com/nonsequitur/inf-ruby
[submodule "js2-mode"]
        path = lib/js2-mode
        url = https://github.com/mooz/js2-mode
[submodule "julia-mode"]
        path = lib/julia-mode
        url = https://github.com/JuliaEditorSupport/julia-emacs
[submodule "julia-repl"]
        path = lib/julia-repl
        url = https://github.com/tpapp/julia-repl
[submodule "llama"]
        path = lib/llama
        url = https://git.sr.ht/~tarsius/llama
[submodule "lsp-mode"]
        path = lib/lsp-mode
        url = https://github.com/emacs-lsp/lsp-mode
        load-path = .
        load-path = clients
[submodule "lsp-ui"]
        path = lib/lsp-ui
        url = https://github.com/emacs-lsp/lsp-ui
[submodule "lua-mode"]
        path = lib/lua-mode
        url = https://github.com/immerrr/lua-mode
[submodule "magit"]
        path = lib/magit
        url = https://github.com/magit/magit
[submodule "marginalia"]
        path = lib/marginalia
        url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
        path = lib/markdown-mode
        url = https://github.com/jrblevin/markdown-mode
[submodule "merlin"]
        path = lib/merlin
        url = git@github.com:emacsmirror/merlin.git
[submodule "merlin-eldoc"]
        path = lib/merlin-eldoc
        url = https://github.com/Khady/merlin-eldoc
[submodule "nasm-mode"]
        path = lib/nasm-mode
        url = https://github.com/skeeto/nasm-mode
[submodule "nov"]
        path = lib/nov
        url = https://depp.brause.cc/nov.el.git
[submodule "orderless"]
        path = lib/orderless
        url = https://github.com/oantolin/orderless
[submodule "org-bullets"]
        path = lib/org-bullets
        url = https://github.com/integral-dw/org-bullets
[submodule "org-chef"]
        path = lib/org-chef
        url = https://github.com/Chobbes/org-chef
[submodule "org-drill"]
        path = lib/org-drill
        url = https://gitlab.com/phillord/org-drill
[submodule "org-noter"]
        path = lib/org-noter
        url = https://github.com/org-noter/org-noter
[submodule "org-pandoc-import"]
        path = lib/org-pandoc-import
        url = https://github.com/tecosaur/org-pandoc-import.git
        load-path = .
        load-path = filters
        load-path = preprocessors
[submodule "org-roam"]
        path = lib/org-roam
        url = https://github.com/org-roam/org-roam
        load-path = .
        load-path = extensions
[submodule "paredit"]
        path = lib/paredit
        url = https://mumble.net/~campbell/git/paredit.git
[submodule "parseclj"]
        path = lib/parseclj
        url = https://github.com/clojure-emacs/parseclj
[submodule "parseedn"]
        path = lib/parseedn
        url = https://github.com/clojure-emacs/parseedn
[submodule "pdf-tools"]
        path = lib/pdf-tools
        url = https://github.com/vedang/pdf-tools
[submodule "perl-doc"]
        path = lib/perl-doc
        url = https://github.com/HaraldJoerg/emacs-perl-doc
[submodule "persist"]
        path = lib/persist
        url = git@github.com:emacsmirror/persist.git
[submodule "pet"]
        path = lib/pet
        url = https://github.com/wyuenho/emacs-pet
[submodule "pikchr-mode"]
        path = lib/pikchr-mode
        url = https://github.com/kljohann/pikchr-mode
[submodule "queue"]
        path = lib/queue
        url = git@github.com:emacsmirror/queue.git
[submodule "racket-mode"]
        path = lib/racket-mode
        url = https://github.com/greghendershott/racket-mode
[submodule "request"]
        path = lib/request
        url = https://github.com/tkf/emacs-request
[submodule "restclient"]
        path = lib/restclient
        url = https://github.com/pashky/restclient.el
[submodule "rjsx-mode"]
        path = lib/rjsx-mode
        url = https://github.com/felipeochoa/rjsx-mode
[submodule "rust-mode"]
        path = lib/rust-mode
        url = https://github.com/rust-lang/rust-mode
[submodule "rustic"]
        path = lib/rustic
        url = https://github.com/brotzeit/rustic
[submodule "s"]
        path = lib/s
        url = https://github.com/magnars/s.el
[submodule "sesman"]
        path = lib/sesman
        url = https://github.com/vspinu/sesman
[submodule "sly"]
        path = lib/sly
        url = https://github.com/joaotavora/sly
[submodule "spinner"]
        path = lib/spinner
        url = https://github.com/Malabarba/spinner.el
[submodule "tablist"]
        path = lib/tablist
        url = https://github.com/emacsorphanage/tablist
[submodule "tide"]
        path = lib/tide
        url = https://github.com/ananthakumaran/tide
[submodule "tuareg"]
        path = lib/tuareg
        url = https://github.com/ocaml/tuareg
[submodule "vertico"]
        path = lib/vertico
        url = https://github.com/minad/vertico
        load-path = .
        load-path = extensions
[submodule "vterm"]
        path = lib/vterm
        url = https://github.com/akermu/emacs-libvterm
[submodule "vulpea"]
        path = lib/vulpea
        url = https://github.com/d12frosted/vulpea
[submodule "web-mode"]
        path = lib/web-mode
        url = https://github.com/fxbois/web-mode
[submodule "which-key"]
        path = lib/which-key
        url = https://github.com/justbur/emacs-which-key
[submodule "with-editor"]
        path = lib/with-editor
        url = https://github.com/magit/with-editor
[submodule "xterm-color"]
        path = lib/xterm-color
        url = https://github.com/atomontage/xterm-color
[submodule "yasnippet"]
        path = lib/yasnippet
        url = https://github.com/joaotavora/yasnippet
